body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header-nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    padding: 16px;
}


.game-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.game-box:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.game-number{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
    margin-bottom: 14px;
    border-bottom: 1px solid #AAA;
}

.game-box.winner-citizen, .game-box.winner-citizen .game-number{
    border-color: #ff8a8a;
}
.game-box.winner-mafia, .game-box.winner-mafia .game-number{
    border-color: #7b7b7b;
}

.game-winner,
.game-duration {
    margin-bottom: 8px;
}
